{{#section 'title'}}
    Đăng nhập
{{/section}}

<!-- {{#section 'css'}}
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
{{/section}} -->

{{#if showError }}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> {{ errorMsg }}
    </div>
{{/if}}

<form class="form-horizontal" method="post" action="" id="frmLogin">
  <!-- Email Input-->
  <div class="form-group">
    <label class="col-md-3 col-sm-2 control-label">Email Address</label>
    <div class="col-md-4 col-sm-10">
      <input type="email" class="form-control" id="txtUsername" name="username" placeholder="My email address">
    </div>
  </div>
  <!-- Passworsd Input -->
  <div class="form-group">
    <label for="inputPassword" class="col-md-3 col-sm-2 control-label">Password</label>
    <div class="col-md-4 col-sm-10">
      <input type="password" class="form-control" id="txtPWD" name="rawPWD" placeholder="Password">
    </div>
  </div>

  <!-- Other filed -->
  <div class="form-group">
      <div class="col-md-3 col-md-offset-3 col-sm-2">
        <label class=" control-label" style="padding: 0 5px 0 5px; margin: 0; border: none" >
          <input type="checkbox" name="remember" style="padding-top: 5px">
          Remember Me
        </label>
      </div>

      <div class="col-md-1">
        <button type="submit" class="btn btn-default" style="width: 100%">
          <i class="fa fa-check"></i>
          Login
        </button>
      </div>
  </div>
<!-- /-End form -/ -->
</form>
