<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sample App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{{_section.css}}}
</head>
<body>

  <h3>
      {{{_sections.title}}}
  </h3>

  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/JS/typeahead.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $('input.typeahead').typeahead({
            name: 'countries',
            remote: 'http://localhost:3000/search?key=%QUERY',
            limit: 10
        });
    });
  </script> -->

  <script type="text/javascript">
      $('#logoutLink').on('click', function () {
          $('#frmLogout').submit();
          console.log("logout");
      });
  </script>
</body>
</html>
