{{#section 'css'}}
  <link type="text/css" href="/typehead.css">

{{/section}}

<div class="container">
  <form id="frmLogout" method="post" action="/account/logout">
  </form>

  <div class="row" style="margin: 10px">
    <a href="/">HOME</a>
    <a id="logoutLink" href="javascript:;" style="float: right">LOGOUT</a>
  </div>

  <div>
    <div class="form-group col-md-6" style="display: inline-block">
        <h5><b>MEMBER DIRECTORY</b></h5>
    </div>
    <form class="form-horizontal" method="GET" action="/search" id="frmSearch">
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label">Search members</label>
        <div class="col-md-3 col-xs-8" style="padding-right: 5px">
          <!-- <input type="text" class="form-control typeahead" id="txtSearch" name="typeahead" autocomplete="off" spellcheck="false" placeholder="Type your Query"> -->
          <input type="text" class="form-control" name="rawSearch" id="txtSearch" placeholder="Type your Query">
        </div>
        <div class="col-md-1 col-xs-2" style="padding-left: 0">
          <button type="submit" class="btn btn-default" style="width: 100%">
            <i class="fa fa-check"></i>
            Go
          </button>
        </div>
      </div>
    </form>

    <!-- default page without search -->

      {{#each users }}
        <hr>
        <table>
          <tr>
             <td rowspan="3" style="width: 60px; padding: 0 15px"><img src="/Image/default-profile-picture.png" class="img-rounded" alt="Cinque Terre" width="80" height="80"></td>
             <td style="width: 100%">
               <b>{{f_ID}} -- {{f_Name}} </b>
               <button type="submit" name="detailMember" style="float: right">View</button>
             </td>
          </tr>
         <tr>
            <td style="width: 100%">{{f_Specialism}}</td>
          </tr>
        </table>
      {{/each}}



    <!-- show search result -->
    {{#each retQuery }}
      <!-- <div>
        {{f_ID}} -- {{f_Name}} -- {{f_Email}} -- {{f_Region}} -- {{f_Interest}}
      </div> -->
      <hr>
      <table>
        <tr>
           <td rowspan="3" style="width: 60px; padding: 0 15px"><img src="/Image/default-profile-picture.png" class="img-rounded" alt="Cinque Terre" width="80" height="80"></td>
           <td style="width: 100%">
             <b>{{f_ID}} -- {{f_Name}} </b>
             <button type="submit" name="detailMember" style="float: right">View</button>
           </td>
        </tr>
       <tr>
          <td style="width: 100%">{{f_Specialism}}</td>
        </tr>
      </table>
    {{/each}}
  <!-- </ul> -->
  </div>
</div>
